<!DOCTYPE html>
<html>
    <head>
        <title>Password Generator</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body class="bg-secondary">
        <div class="container mx-auto text-center p-3 bg-info text-white " style="width: 45%; margin-top: 15% !important;">
            <h1 class="display-4">Generate Your Password</h1>
            <br>
            <form action="hellopassword">
<!--                 <label for="email">Type E-mail ID: </label>
                <input id="email" type="email" required>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <label for="length">Choose Your Password Length</label> -->
                <select id="length" name="length" class="custom-select" style="width: 50%">
                    <option value="" selected>Choose Your Password Length...</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                </select>
                <br>
                <br>
                <br>
                <h4>Make Your password <strong class="text-dark">HARD</strong></h4>
                <br>
                <div class="container mx-auto text-justify" style="width: 35%;">
                    <div class="custom-control custom-checkbox">
                        <input id="number" type="checkbox" name="number" class="custom-control-input">
                        <label for="number" class="custom-control-label"> Number</label>
                    </div>

                    <br>
                    <div class="custom-control custom-checkbox">
                        <input id="special" type="checkbox" name="special" class="custom-control-input">
                        <label for="special" class="custom-control-label"> Spacial Character</label>
                    </div>

                    <br>
                    <div class="custom-control custom-checkbox">
                        <input id="upper" type="checkbox" name="uppercase" class="custom-control-input">
                        <label for="upper" class="custom-control-label"> UPPERCASE Character</label>
                    </div>
                </div>

                <br>
                <br>
                <br>
                <label for="submit">Let's Check What We've Got</label>
                &nbsp;
                <input id="submit" type="submit" value="Sure!!" class="btn btn-warning">
            </form>
        </div>
        <div class="page-footer footer-copyright text-center py-3 bg-danger text-white mx-auto" style="width: 45%">
            © 2020 Copyright: <strong class="text-light">Nuruddin Riaz</strong>
        </div>
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
</html>
